{% extends 'blog/base.html' %}

{% block title %}
new Post
{% endblock %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h4 class="display-3">Add your post</h4>
        <p class="lead">
            <form method="POST" enctype="multipart/form-data" action="">
                {{form.as_p}}
                {% csrf_token %}
                <input type="checkbox" name="draft" value="1">Draft</input>
                <button type='submit'>Add new post</button>
            </form>
        </p>
    </div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

        <a href="{% url 'posts_list' %}">back to list</a>
    </div>
{% endblock %}