{% extends 'blog/base.html' %}

{% block title %}
Registration Page
{% endblock %}

{% block content %}
<h3 class="pb-4 mb-4 fst-italic border-bottom">
        Registration registration</h3>
<div class="text-center">
        <div class="form-signin" style="float: left; width: 300px;">
            <form action="" method="post">
              {% csrf_token %}
              {% for field in form %}
                {{ field.label_tag }}<br>{{ field }}<br>
              {% endfor %}
              <button type="submit">Registration</button>
            </form>
        </div>
        <div style="font-size: 10px; float: left; width: 300px; align: justify;">Your password can’t be too similar to your other personal information.
            <br>Your password must contain at least 8 characters.
            <br>Your password can’t be a commonly used password.
            <br>Your password can’t be entirely numeric.Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
        </div>

    </div>
{% endblock %}